<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Online Education Rails" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
  <header class="bg-white shadow-sm">
    <div class="mx-auto flex items-center justify-between py-4 px-6">
      <div class="flex items-center space-x-4">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: 'h-8', alt: 'logo' %>
        <% end %>
      </div>

      <div class="flex items-center space-x-4">
        <%= link_to 'ログイン', new_user_session_path, class: "px-4 py-2 text-gray-700" %>
        <%= link_to '新規登録', new_user_registration_path, class: 'px-4 py-2 text-white bg-black rounded' %>
      </div>
    </div>
  </header>

  <div class="container mx-auto px-4 py-8">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
